.article {
    background-color: rgb(30, 30, 30);
    color: rgb(212, 212, 212);
    font-family: Arial;

    > header {
        text-align: center;
    }
    > main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        > figure {
            min-width: min-content;
            margin: 4pt;
            border: 2pt dashed rgb(60, 60, 60);
            border-radius: 8pt;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                background-color: rgb(60, 60, 60);
                border-color: rgb(30, 30, 30);
            }

            > svg {
                width: 64px;
                height: auto;
            }
        }
    }
    > footer {
        text-align: center;

        > span {
            color: rgb(181, 206, 168);;
        }
    }
}
